{
  "openapi": "3.1.0",
  "info": {
    "title": "九眼楼小程序研学报告接口",
    "version": "1.2.0",
    "description": "小程序端上传答题卡照片生成研学报告，并支持在后续通过 JWT 查看自己最近一条或指定一条历史研学报告。"
  },
  "servers": [
    {
      "url": "https://jyl.flexai.cc/api/v1",
      "description": "生产环境"
    },
    {
      "url": "http://127.0.0.1:3100/api/v1",
      "description": "本地联调环境"
    }
  ],
  "tags": [
    {
      "name": "client-study-reports",
      "description": "小程序答题卡识别与研学报告生成"
    }
  ],
  "paths": {
    "/client/study-reports/generate": {
      "post": {
        "tags": ["client-study-reports"],
        "summary": "上传答题卡照片并生成研学报告",
        "description": "小程序使用 multipart/form-data 上传答题卡照片。后端必须依赖 get_current_client_user，从 Authorization Bearer JWT 解析用户 ID 和 openid，并查库确认用户状态正常；接口不接收 userId/openid 表单字段。成功后保存原图 URL、PDF URL、qwen3.6-plus 识别 JSON、文本模型输出 JSON 和最终报告内容。",
        "operationId": "clientGenerateStudyReport",
        "security": [{"ClientBearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {"$ref": "#/components/schemas/ClientStudyReportGenerateRequest"},
              "encoding": {
                "worksheet_image": {
                  "contentType": "image/jpeg, image/png, image/webp"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "生成成功",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ClientStudyReportGenerateResponse"}
              }
            }
          },
          "400": {
            "description": "图片或 AI 处理错误",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          },
          "401": {
            "description": "未登录或 JWT 无效",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          }
        }
      }
    },
    "/client/study-reports/latest": {
      "get": {
        "tags": ["client-study-reports"],
        "summary": "获取当前用户最近一条研学报告",
        "description": "后端必须依赖 get_current_client_user，从 Authorization Bearer JWT 解析用户 ID 和 openid，并且只返回当前用户最近一条正式生成成功的研学报告。接口不重新调用模型，直接返回落库记录中的正式结果，成功响应结构与 POST /client/study-reports/generate 完全一致。",
        "operationId": "clientGetLatestStudyReport",
        "security": [{"ClientBearerAuth": []}],
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ClientStudyReportGenerateResponse"}
              }
            }
          },
          "401": {
            "description": "未登录或 JWT 无效",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          },
          "404": {
            "description": "当前用户没有研学报告记录",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          }
        }
      }
    },
    "/client/study-reports/{record_id}": {
      "get": {
        "tags": ["client-study-reports"],
        "summary": "获取当前用户指定一条研学报告",
        "description": "后端必须依赖 get_current_client_user，从 Authorization Bearer JWT 解析用户 ID 和 openid，并且只返回当前用户自己的那一条记录。即使前端知道别人的 record_id，也不会返回。接口不重新调用模型，直接返回落库记录中的正式结果，成功响应结构与 POST /client/study-reports/generate 完全一致。",
        "operationId": "clientGetStudyReportByRecordId",
        "security": [{"ClientBearerAuth": []}],
        "parameters": [
          {
            "name": "record_id",
            "in": "path",
            "required": true,
            "schema": {"type": "integer", "minimum": 1},
            "description": "当前用户自己的研学报告记录 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ClientStudyReportGenerateResponse"}
              }
            }
          },
          "401": {
            "description": "未登录或 JWT 无效",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          },
          "404": {
            "description": "记录不存在或不属于当前用户",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ClientBearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "小程序普通用户登录令牌。由 /client/users/wechat-login 返回。"
      }
    },
    "schemas": {
      "ClientStudyReportGenerateRequest": {
        "type": "object",
        "required": ["worksheet_image"],
        "properties": {
          "worksheet_image": {"type": "string", "format": "binary", "description": "答题卡照片"},
          "student_name": {"type": "string", "description": "学生姓名，可选"},
          "student_code": {"type": "string", "description": "学生编号兜底值；优先使用模型识别的编号"},
          "study_date": {"type": "string", "description": "研学日期"},
          "duration_minutes": {"type": "integer", "minimum": 0, "description": "研学时长，单位分钟"}
        }
      },
      "ClientStudyReportGenerateResponse": {
        "type": "object",
        "required": ["record_id", "worksheet_image_url", "pdf_url", "writer_payload", "report"],
        "properties": {
          "record_id": {"type": "integer", "minimum": 1, "description": "本次研学报告记录 ID"},
          "worksheet_image_url": {"type": "string", "description": "答题卡照片上传到 COS 或本地存储后的 URL"},
          "pdf_url": {"type": "string", "description": "最终研学报告 PDF 上传到 COS 或本地存储后的 URL"},
          "writer_payload": {
            "type": "object",
            "description": "第二个模型返回的研学报告原始 JSON；文本模型失败走兜底时为空对象",
            "additionalProperties": true
          },
          "report": {"$ref": "#/components/schemas/StudyReportGenerateResponse"}
        }
      },
      "StudyReportGenerateResponse": {
        "type": "object",
        "required": ["heading", "subheading", "hidden_symbol_summary", "question_results", "question_summary", "overall_accuracy_percent", "overall_comment", "cipher_analysis", "poem_analysis", "badge_title", "badge_description", "final_comment", "current_model", "provider"],
        "properties": {
          "student_name": {"type": ["string", "null"]},
          "student_code": {"type": ["string", "null"], "description": "优先来自答题卡编号识别结果"},
          "study_date": {"type": ["string", "null"]},
          "duration_minutes": {"type": ["integer", "null"], "minimum": 0},
          "heading": {"type": "string"},
          "subheading": {"type": "string"},
          "hidden_symbol_summary": {"$ref": "#/components/schemas/HiddenSymbolSummary"},
          "question_results": {"type": "array", "items": {"$ref": "#/components/schemas/QuestionResult"}},
          "question_summary": {"$ref": "#/components/schemas/QuestionSummary"},
          "overall_accuracy_percent": {"type": "integer", "minimum": 0, "maximum": 100},
          "overall_comment": {"type": "string"},
          "cipher_analysis": {"type": "string"},
          "poem_analysis": {"type": "string"},
          "badge_title": {"type": "string"},
          "badge_description": {"type": "string"},
          "final_comment": {"type": "string"},
          "current_model": {"type": "string", "example": "qwen3.6-plus"},
          "provider": {"type": "string"}
        }
      },
      "HiddenSymbolSummary": {
        "type": "object",
        "required": ["filled_cells", "filled_count", "matched_symbols", "matched_count", "total_cells", "accuracy_percent"],
        "properties": {
          "filled_cells": {"type": "array", "items": {"type": "integer"}, "description": "用户涂画的暗号 ID"},
          "filled_count": {"type": "integer", "minimum": 0},
          "matched_symbols": {"type": "array", "items": {"$ref": "#/components/schemas/HiddenSymbolMatch"}},
          "matched_count": {"type": "integer", "minimum": 0},
          "total_cells": {"type": "integer", "example": 19},
          "accuracy_percent": {"type": "integer", "minimum": 0, "maximum": 100}
        }
      },
      "HiddenSymbolMatch": {
        "type": "object",
        "required": ["symbol_code", "symbol_name"],
        "properties": {
          "symbol_code": {"type": "string", "example": "13"},
          "symbol_name": {"type": "string", "example": "13:军防-战鼓"}
        }
      },
      "QuestionResult": {
        "type": "object",
        "required": ["question_number", "prompt", "is_correct"],
        "properties": {
          "question_number": {"type": "integer", "minimum": 1, "maximum": 4},
          "prompt": {"type": "string"},
          "selected_option": {"type": ["string", "null"], "enum": ["A", "B", "C", null]},
          "correct_option": {"type": ["string", "null"], "enum": ["A", "B", "C", null]},
          "selected_title": {"type": ["string", "null"]},
          "correct_title": {"type": ["string", "null"]},
          "is_correct": {"type": "boolean"}
        }
      },
      "QuestionSummary": {
        "type": "object",
        "required": ["correct_count", "total_questions", "accuracy_percent"],
        "properties": {
          "correct_count": {"type": "integer", "minimum": 0},
          "total_questions": {"type": "integer", "example": 4},
          "accuracy_percent": {"type": "integer", "minimum": 0, "maximum": 100}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {"type": "string"},
          "code": {"type": "string"}
        }
      }
    }
  },
  "x-implementation": {
    "backendRoute": "backend/app/api/v1/endpoints/client/study_reports.py",
    "routerMount": "client_router.include_router(client_study_reports.router, prefix=\"/study-reports\", tags=[\"client-study-reports\"])",
    "authDependency": "get_current_client_user",
    "recognitionModel": "qwen3.6-plus",
    "recordTable": "study_report_records",
    "storageTable": "storage_resources"
  }
}
