{
  "openapi": "3.1.0",
  "info": {
    "title": "九眼楼小程序研学报告接口",
    "version": "2.1.0",
    "description": "小程序端可先上传答题卡图片，再通过 JWT 提交异步研学报告任务，并轮询获取正式报告、writer_payload 和 PDF URL。"
  },
  "servers": [
    {
      "url": "https://jyl.flexai.cc/api/v1",
      "description": "生产环境"
    },
    {
      "url": "http://127.0.0.1:3100/api/v1",
      "description": "本地联调环境"
    }
  ],
  "tags": [
    {
      "name": "client-study-reports",
      "description": "小程序答题卡识别与研学报告生成"
    }
  ],
  "paths": {
    "/client/study-reports/upload": {
      "post": {
        "tags": ["client-study-reports"],
        "summary": "上传答题卡图片",
        "description": "小程序上传答题卡图片文件，后端完成存储并返回 `worksheet_image_url`。这个接口只上传图片，不生成报告。",
        "operationId": "clientUploadStudyReportWorksheet",
        "security": [{"ClientBearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["worksheet_image"],
                "properties": {
                  "worksheet_image": {
                    "type": "string",
                    "format": "binary",
                    "description": "答题卡图片文件"
                  }
                }
              },
              "encoding": {
                "worksheet_image": {
                  "contentType": "image/jpeg, image/png, image/webp"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "上传成功",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ClientStudyReportUploadResponse"}
              }
            }
          },
          "400": {
            "description": "图片格式或大小不合法",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          },
          "401": {
            "description": "未登录或 JWT 无效",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          }
        }
      }
    },
    "/client/study-reports/generate": {
      "post": {
        "tags": ["client-study-reports"],
        "summary": "提交答题卡识别任务",
        "description": "先调用上传接口拿到 `worksheet_image_url`，再把这个 URL 提交给后端。后端依赖 `get_current_client_user` 从 JWT 解析普通用户身份，立即落一条研学记录并返回任务状态。",
        "operationId": "clientSubmitStudyReportJob",
        "security": [{"ClientBearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/ClientStudyReportGenerateRequest"}
            }
          }
        },
        "responses": {
          "202": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ClientStudyReportJobResponse"}
              }
            }
          },
          "400": {
            "description": "图片 URL 或业务参数错误",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          },
          "401": {
            "description": "未登录或 JWT 无效",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          }
        }
      }
    },
    "/client/study-reports/jobs/{record_id}": {
      "get": {
        "tags": ["client-study-reports"],
        "summary": "轮询研学报告任务状态",
        "description": "查询当前用户自己的一条研学报告任务状态。`generated` 时返回正式报告、writer_payload 和 PDF URL；`failed` 时返回失败原因。",
        "operationId": "clientPollStudyReportJob",
        "security": [{"ClientBearerAuth": []}],
        "parameters": [
          {
            "name": "record_id",
            "in": "path",
            "required": true,
            "schema": {"type": "integer", "minimum": 1},
            "description": "研学报告记录 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ClientStudyReportJobResponse"}
              }
            }
          },
          "401": {
            "description": "未登录或 JWT 无效",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          },
          "404": {
            "description": "记录不存在或不属于当前用户",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          }
        }
      }
    },
    "/client/study-reports/latest": {
      "get": {
        "tags": ["client-study-reports"],
        "summary": "获取当前用户最近一条正式研学报告",
        "description": "只返回当前用户最近一条 `status=generated` 的正式研学报告，不重新调用模型。",
        "operationId": "clientGetLatestStudyReport",
        "security": [{"ClientBearerAuth": []}],
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ClientStudyReportGenerateResponse"}
              }
            }
          },
          "401": {
            "description": "未登录或 JWT 无效",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          },
          "404": {
            "description": "当前用户没有已生成的研学报告",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          }
        }
      }
    },
    "/client/study-reports/{record_id}": {
      "get": {
        "tags": ["client-study-reports"],
        "summary": "获取当前用户指定一条正式研学报告",
        "description": "只返回当前用户自己的正式报告。若该记录尚未生成完成，返回冲突错误，提示前端改用轮询接口。",
        "operationId": "clientGetStudyReportByRecordId",
        "security": [{"ClientBearerAuth": []}],
        "parameters": [
          {
            "name": "record_id",
            "in": "path",
            "required": true,
            "schema": {"type": "integer", "minimum": 1},
            "description": "当前用户自己的研学报告记录 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ClientStudyReportGenerateResponse"}
              }
            }
          },
          "401": {
            "description": "未登录或 JWT 无效",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          },
          "404": {
            "description": "记录不存在或不属于当前用户",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          },
          "409": {
            "description": "记录尚未生成完成",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ErrorResponse"}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ClientBearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "小程序普通用户登录令牌，由 `/client/users/wechat-login` 返回。"
      }
    },
    "schemas": {
      "ClientStudyReportUploadResponse": {
        "type": "object",
        "required": ["storage_resource_id", "worksheet_image_url", "provider", "object_key", "content_type", "size_bytes"],
        "properties": {
          "storage_resource_id": {"type": "integer", "minimum": 1},
          "worksheet_image_url": {"type": "string"},
          "provider": {"type": "string"},
          "object_key": {"type": "string"},
          "content_type": {"type": "string"},
          "size_bytes": {"type": "integer", "minimum": 0}
        }
      },
      "ClientStudyReportGenerateRequest": {
        "type": "object",
        "required": ["worksheet_image_url"],
        "properties": {
          "worksheet_image_url": {
            "type": "string",
            "description": "上传接口返回的答题卡图片 URL，后端必须可访问"
          },
          "student_name": {"type": ["string", "null"]},
          "student_code": {"type": ["string", "null"]},
          "study_date": {"type": ["string", "null"]},
          "duration_minutes": {"type": ["integer", "null"], "minimum": 0}
        }
      },
      "ClientStudyReportJobResponse": {
        "type": "object",
        "required": ["record_id", "status", "worksheet_image_url", "writer_payload"],
        "properties": {
          "record_id": {"type": "integer", "minimum": 1},
          "status": {
            "type": "string",
            "enum": ["queued", "processing", "generated", "failed"]
          },
          "worksheet_image_url": {"type": "string"},
          "pdf_url": {"type": ["string", "null"]},
          "last_error": {"type": ["string", "null"]},
          "writer_payload": {
            "type": "object",
            "additionalProperties": true
          },
          "report": {
            "oneOf": [
              {"$ref": "#/components/schemas/StudyReportGenerateResponse"},
              {"type": "null"}
            ]
          }
        }
      },
      "ClientStudyReportGenerateResponse": {
        "type": "object",
        "required": ["record_id", "worksheet_image_url", "pdf_url", "writer_payload", "report"],
        "properties": {
          "record_id": {"type": "integer", "minimum": 1},
          "worksheet_image_url": {"type": "string"},
          "pdf_url": {"type": "string"},
          "writer_payload": {
            "type": "object",
            "additionalProperties": true
          },
          "report": {"$ref": "#/components/schemas/StudyReportGenerateResponse"}
        }
      },
      "StudyReportGenerateResponse": {
        "type": "object",
        "required": ["heading", "subheading", "hidden_symbol_summary", "question_results", "question_summary", "overall_accuracy_percent", "overall_comment", "cipher_analysis", "poem_analysis", "badge_title", "badge_description", "final_comment", "current_model", "provider"],
        "properties": {
          "student_name": {"type": ["string", "null"]},
          "student_code": {"type": ["string", "null"]},
          "study_date": {"type": ["string", "null"]},
          "duration_minutes": {"type": ["integer", "null"], "minimum": 0},
          "heading": {"type": "string"},
          "subheading": {"type": "string"},
          "hidden_symbol_summary": {"$ref": "#/components/schemas/HiddenSymbolSummary"},
          "question_results": {"type": "array", "items": {"$ref": "#/components/schemas/QuestionResult"}},
          "question_summary": {"$ref": "#/components/schemas/QuestionSummary"},
          "overall_accuracy_percent": {"type": "integer", "minimum": 0, "maximum": 100},
          "overall_comment": {"type": "string"},
          "cipher_analysis": {"type": "string"},
          "poem_analysis": {"type": "string"},
          "badge_title": {"type": "string"},
          "badge_description": {"type": "string"},
          "final_comment": {"type": "string"},
          "current_model": {"type": "string", "example": "qwen3.6-plus"},
          "provider": {"type": "string"}
        }
      },
      "HiddenSymbolSummary": {
        "type": "object",
        "required": ["filled_cells", "filled_count", "matched_symbols", "matched_count", "total_cells", "accuracy_percent"],
        "properties": {
          "filled_cells": {"type": "array", "items": {"type": "integer"}},
          "filled_count": {"type": "integer", "minimum": 0},
          "matched_symbols": {"type": "array", "items": {"$ref": "#/components/schemas/HiddenSymbolMatch"}},
          "matched_count": {"type": "integer", "minimum": 0},
          "total_cells": {"type": "integer"},
          "accuracy_percent": {"type": "integer", "minimum": 0, "maximum": 100}
        }
      },
      "HiddenSymbolMatch": {
        "type": "object",
        "required": ["symbol_code", "symbol_name"],
        "properties": {
          "symbol_code": {"type": "string"},
          "symbol_name": {"type": "string"}
        }
      },
      "QuestionResult": {
        "type": "object",
        "required": ["question_number", "prompt", "is_correct"],
        "properties": {
          "question_number": {"type": "integer"},
          "prompt": {"type": "string"},
          "selected_option": {"type": ["string", "null"]},
          "correct_option": {"type": ["string", "null"]},
          "selected_title": {"type": ["string", "null"]},
          "correct_title": {"type": ["string", "null"]},
          "is_correct": {"type": "boolean"}
        }
      },
      "QuestionSummary": {
        "type": "object",
        "required": ["correct_count", "total_questions", "accuracy_percent"],
        "properties": {
          "correct_count": {"type": "integer", "minimum": 0},
          "total_questions": {"type": "integer"},
          "accuracy_percent": {"type": "integer", "minimum": 0, "maximum": 100}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {"type": "string"},
          "code": {"type": "string"}
        }
      }
    }
  },
  "x-implementation": {
    "backendRoute": "backend/app/api/v1/endpoints/client/study_reports.py",
    "recordTable": "study_report_records",
    "storageTable": "storage_resources",
    "worker": "backend/app/services/study_report_worker.py"
  }
}
